section.SectionContainer__StyledSection-nrgtje-1.bAuXbh
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.jkOSpU
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.hiaijr
                .GridColumn-sc-1eg69m4-0.fZeEje
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            section
                                main.WidgetValueProp__ValuePropBody-sc-902n5r-1.hinhFR(font-size='24' font-weight='500')
                                    div
                                        p
                                        | The office can be a stressful place. We&rsquo;ll help your staff get
                                        | more done and feel better at work.
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            section
                                main.WidgetValueProp__ValuePropBody-sc-902n5r-1.hinhFR(font-size='24' font-weight='500')
                                    div
                                        p Let&rsquo;s unlock your firm&rsquo;s full potential.