//- First
section.SectionContainer__StyledSection-nrgtje-1.dRfejb
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.iBfIEF
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.hiaijr
                .GridColumn-sc-1eg69m4-0.oDiHO
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.dxazAX
                            section
                                header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.oNAyI
                                    h3 Data you can&rsquo;t do without
                                main.WidgetValueProp__ValuePropBody-sc-902n5r-1.dfQtMT(font-size='16' font-weight='500')
                                    div
                                        p
                                        | Gain insight into the focus, productivity and behavior patterns
                                        | of your company. We help you take the right actions at the right
                                        | time and boost your bottom line.
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            .WidgetCallToAction__CallToActionContainer-sc-1702ic2-0.cHlvOu
                                a.LinkButton-sc-1g4pgdd-0.oogmL(href='#') Learn More
                .GridColumn-sc-1eg69m4-0.fZeEje
                    img(src='img/new-images/033.png' alt='')
        .floor_1

//- Second
section.SectionContainer__StyledSection-nrgtje-1.ftltJs
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.dCdKAT(style='background-image: url(img/new-images/04.png);')
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.bMbQCY
                .GridColumn-sc-1eg69m4-0.oDiHO
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            section
                                header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.oNAyI
                                    h3 Sustainable productivity
                                main.WidgetValueProp__ValuePropBody-sc-902n5r-1.dfQtMT(font-size='16' font-weight='500')
                                    div
                                        p
                                        | With Stroofy, your staff will break their targets without
                                        | breaking themselves. We make sure employees work in a smarter
                                        | and more sustainable way.
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            .WidgetCallToAction__CallToActionContainer-sc-1702ic2-0.cHlvOu
                                a.LinkButton-sc-1g4pgdd-0.oogmL(href='#') Learn more

section.SectionContainer__StyledSection-nrgtje-1.dRfejb
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.iBfIEF
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.hiaijr
                .GridColumn-sc-1eg69m4-0.oDiHO
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.dxazAX
                            section
                                header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.oNAyI
                                    h3 Less Hours, More Output. Bottom Line Impact
                                main.WidgetValueProp__ValuePropBody-sc-902n5r-1.dfQtMT(font-size='16' font-weight='500')
                                    div
                                        p
                                        | Invest in your staff and enjoy the benefits of a committed and
                                        | engaged workforce. Lasting change has never been this easy to
                                        | implement.
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            .WidgetCallToAction__CallToActionContainer-sc-1702ic2-0.cHlvOu
                                a.LinkButton-sc-1g4pgdd-0.oogmL(href='#') Get Started
                .GridColumn-sc-1eg69m4-0.fZeEje
                    img(src='img/new-images/055.png' alt='')
        .floor_1