//- Header
section.SectionContainer__StyledSection-nrgtje-1.bAuXbh
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.dsomWU
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.hiaijr
                .GridColumn-sc-1eg69m4-0.fZeEje
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            section
                                header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.icVtif
                                    h3 Featured in

//- Content
section.SectionContainer__StyledSection-nrgtje-1.bAuXbh
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.skDmM
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.bMbQCY
                .GridColumn-sc-1eg69m4-0.fuwEmL
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            .WidgetImage__ImageContainer-sc-1hq3otp-0.hOCUWW
                                picture
                                    source(media='(max-width: 320px)' srcset='img/logos/Entrepreneur.png?h=54&w=124, img/logos/Entrepreneur.png?h=108&w=248 2x')
                                    source(media='(max-width: 375px)' srcset='img/logos/Entrepreneur.png?h=54&w=124, img/logos/Entrepreneur.png?h=108&w=248 2x')
                                    source(media='(max-width: 414px)' srcset='img/logos/Entrepreneur.png?h=54&w=124, img/logos/Entrepreneur.png?h=108&w=248 2x')
                                    source(media='(max-width: 800px)' srcset='img/logos/Entrepreneur.png?h=54&w=124, img/logos/Entrepreneur.png?h=108&w=248 2x')
                                    source(media='(max-width: 1440px)' srcset='img/logos/Entrepreneur.png?h=54&w=124, img/logos/Entrepreneur.png?h=108&w=248 2x')
                                    source(media='(max-width: 1920px)' srcset='img/logos/Entrepreneur.png?h=54&w=124, img/logos/Entrepreneur.png?h=108&w=248 2x')
                                    img.Image__StyledImage-houvwv-0.ccBzWZ(alt='Entrepreneur' src='img/logos/Entrepreneur.png?h=54&w=124' srcset='img/logos/Entrepreneur.png?h=54&w=124, img/logos/Entrepreneur.png?h=108&w=248 2x')
                .GridColumn-sc-1eg69m4-0.fuwEmL
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            .WidgetImage__ImageContainer-sc-1hq3otp-0.LWUxg
                                picture
                                    source(media='(max-width: 320px)' srcset='img/logos/NYTimes.png?h=54&w=160, img/logos/NYTimes.png?h=108&w=320 2x')
                                    source(media='(max-width: 375px)' srcset='img/logos/NYTimes.png?h=54&w=160, img/logos/NYTimes.png?h=108&w=320 2x')
                                    source(media='(max-width: 414px)' srcset='img/logos/NYTimes.png?h=54&w=160, img/logos/NYTimes.png?h=108&w=320 2x')
                                    source(media='(max-width: 800px)' srcset='img/logos/NYTimes.png?h=54&w=160, img/logos/NYTimes.png?h=108&w=320 2x')
                                    source(media='(max-width: 1440px)' srcset='img/logos/NYTimes.png?h=54&w=160, img/logos/NYTimes.png?h=108&w=320 2x')
                                    source(media='(max-width: 1920px)' srcset='img/logos/NYTimes.png?h=54&w=160, img/logos/NYTimes.png?h=108&w=320 2x')
                                    img.Image__StyledImage-houvwv-0.ccBzWZ(alt='New York Times' src='img/logos/NYTimes.png?h=54&w=160' srcset='img/logos/NYTimes.png?h=54&w=160, img/logos/NYTimes.png?h=108&w=320 2x')
                .GridColumn-sc-1eg69m4-0.fuwEmL
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            .WidgetImage__ImageContainer-sc-1hq3otp-0.dDNqDn
                                picture
                                    source(media='(max-width: 320px)' srcset='img/logos/Wall_Street_Journal.png?h=45&w=168, img/logos/Wall_Street_Journal.png?h=91&w=336 2x')
                                    source(media='(max-width: 375px)' srcset='img/logos/Wall_Street_Journal.png?h=45&w=168, img/logos/Wall_Street_Journal.png?h=91&w=336 2x')
                                    source(media='(max-width: 414px)' srcset='img/logos/Wall_Street_Journal.png?h=45&w=168, img/logos/Wall_Street_Journal.png?h=91&w=336 2x')
                                    source(media='(max-width: 800px)' srcset='img/logos/Wall_Street_Journal.png?h=45&w=168, img/logos/Wall_Street_Journal.png?h=91&w=336 2x')
                                    source(media='(max-width: 1440px)' srcset='img/logos/Wall_Street_Journal.png?h=45&w=168, img/logos/Wall_Street_Journal.png?h=91&w=336 2x')
                                    source(media='(max-width: 1920px)' srcset='img/logos/Wall_Street_Journal.png?h=45&w=168, img/logos/Wall_Street_Journal.png?h=91&w=336 2x')
                                    img.Image__StyledImage-houvwv-0.ccBzWZ(alt='The Wall Street Journal' src='img/logos/Wall_Street_Journal.png?h=45&w=168' srcset='img/logos/Wall_Street_Journal.png?h=45&w=168, img/logos/Wall_Street_Journal.png?h=91&w=336 2x')
                .GridColumn-sc-1eg69m4-0.fuwEmL
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                        .WidgetImage__ImageContainer-sc-1hq3otp-0.giiiiW
                                picture
                                    source(media='(max-width: 320px)' srcset='img/logos/Forbes.png?h=54&w=90, img/logos/Forbes.png?h=108&w=180 2x')
                                    source(media='(max-width: 375px)' srcset='img/logos/Forbes.png?h=54&w=90, img/logos/Forbes.png?h=108&w=180 2x')
                                    source(media='(max-width: 414px)' srcset='img/logos/Forbes.png?h=54&w=90, img/logos/Forbes.png?h=108&w=180 2x')
                                    source(media='(max-width: 800px)' srcset='img/logos/Forbes.png?h=54&w=90, img/logos/Forbes.png?h=108&w=180 2x')
                                    source(media='(max-width: 1440px)' srcset='img/logos/Forbes.png?h=54&w=90, img/logos/Forbes.png?h=108&w=180 2x')
                                    source(media='(max-width: 1920px)' srcset='img/logos/Forbes.png?h=54&w=90, img/logos/Forbes.png?h=108&w=180 2x')
                                    img.Image__StyledImage-houvwv-0.ccBzWZ(alt='Forbes' src='img/logos/Forbes.png?h=54&w=90' srcset='img/logos/Forbes.png?h=54&w=90, img/logos/Forbes.png?h=108&w=180 2x')
