//- Header
div
    #sign-up.Page__HashDiv-sc-1kq2ie7-0.kZsvxH
        section.SectionContainer__StyledSection-nrgtje-1.bAaXwX
            .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.gFKUMs
                .GridContainer-sc-15zswxm-0.fnLMAL
                    .GridRow-sc-4xpp2g-0.hiaijr
                        .GridColumn-sc-1eg69m4-0.fZeEje
                            .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                                .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                                    section
                                        header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.icVtif
                                            h2 Try us out
                                        main.WidgetValueProp__ValuePropBody-sc-902n5r-1.drghRR(font-size='16' font-weight='500')
                                            div
                                            p
                                                | Sign up to trial Stroofy. Let&rsquo;s show you how we can improve
                                                | your business.

//- Content
section.SectionContainer__StyledSection-nrgtje-1.bAaXwX
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.eeNJYm
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.hiaijr
                .GridColumn-sc-1eg69m4-0.bPOobo
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            form.WidgetForm__StyledForm-sc-10789ah-0.cOxCUc
                                .GridRow-sc-4xpp2g-0.hCTAqm
                                    .GridColumn-sc-1eg69m4-0.jDrVUy
                                        .WidgetForm__FormInputContainer-sc-10789ah-1.jxlhKi
                                            .Input__InputContainer-sc-14jbcuz-0.gfJrfS
                                                label.Input__Label-sc-14jbcuz-1.jQgBZJ(for='fullName') Full Name
                                                input#fullName.Input__StyledInput-sc-14jbcuz-2.dFlIFY(type='text' autocomplete='given-name' name='fullName' placeholder='Full Name' value='')
                                    .GridColumn-sc-1eg69m4-0.jDrVUy
                                        .WidgetForm__FormInputContainer-sc-10789ah-1.jxlhKi
                                            .Input__InputContainer-sc-14jbcuz-0.gfJrfS
                                                label.Input__Label-sc-14jbcuz-1.jQgBZJ(for='email') Email
                                                input#email.Input__StyledInput-sc-14jbcuz-2.dFlIFY(type='email' autocomplete='email' name='email' placeholder='Email' value='')
                                    .GridColumn-sc-1eg69m4-0.jDrVUy
                                        button.Button-wbny8u-0.ccmguj(type='button')
                                        | Start Your
                                        | Trial
                            .WidgetForm__DisclaimerContainer-sc-10789ah-2.gDStrz
                                div
                                | By clicking &ldquo;Start Your Trial&rdquo;, I agree to Stroofy&rsquo;s 
                                a(href='#') Terms
                                |  and 
                                a(href='#') Privacy Policy
                                | .
