section.SectionContainer__StyledSection-nrgtje-1.jZTvCk
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.gIytIc
        .GridContainer-sc-15zswxm-0.fnLMAL(style='background-image: url(img/new-images/01.png);')
            .GridRow-sc-4xpp2g-0.hiaijr
                .GridColumn-sc-1eg69m4-0.bPOobo
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gsgSzx
                            section
                                header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.jujKvU
                                    h3
                                        | Boost productivity. Improve engagement. 
                                        br
                                        |  Understand and inspire your people.
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.dAlZxm
                            section
                                header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.bLNZYO
                                    h1
                                        | We use science and data to make the workplace smarter, better and
                                        | more focused.
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gsgSzx
                            .WidgetCallToAction__CallToActionContainer-sc-1702ic2-0.iffiZD
                                a.LinkButton-sc-1g4pgdd-0.dgAtll(href='#') Start Your Free Trial