section.SectionContainer__StyledSection-nrgtje-1.bAuXbh
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.dsomWU
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.hiaijr
                .GridColumn-sc-1eg69m4-0.bPOobo
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            section
                                header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.icVtif
                                    h3 We partner with the world&rsquo;s best