//- Header
section.SectionContainer__StyledSection-nrgtje-1.PKnqE
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.gMankY
        .GridContainer-sc-15zswxm-0.fnLMAL
            .GridRow-sc-4xpp2g-0.hiaijr
                .GridColumn-sc-1eg69m4-0.bnalvM
                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                            .HomePage__StyledTestimonialsHeader-sc-7u4qa5-0.SWSSR
                                h2 Lorem Ipsum is simply dummy text of the printing.
                                img(alt='Decorative line' src='img/icons/Line-01.svg')

//- Content
section.SectionContainer__StyledSection-nrgtje-1.PKnqE
    .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.kqyNvt
        .GridContainer-sc-15zswxm-0.fnLMAL
            .BenchSwiper__SwiperContainer-sc-1lm456n-0.engxck
                .BenchSwiper__SwiperContent-sc-1lm456n-1.edpbYg
                    //- Slider main container
                    .swiper-container
                        //- Additional required wrapper
                        .swiper-wrapper
                            //- Slides
                            .swiper-slide
                                .SectionGrid-sc-1deimss-2.esgbWf
                                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                                            .-large.WidgetTestimonial__TestimonialContainer-sc-1azib5e-0.jWvKBp
                                                .WidgetTestimonial__TestimonialInner-sc-1azib5e-1.fKSQuv
                                                    .WidgetTestimonial__Quote-sc-1azib5e-2.kxSWIt
                                                        span.WidgetTestimonial__OpenQuote-sc-1azib5e-3.dEwJdE &lsquo;&lsquo; It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                                    .WidgetTestimonial__AuthorWrap-sc-1azib5e-4.kLGuxg
                                                        .WidgetTestimonial__AuthorImage-sc-1azib5e-5.illqxd
                                                            picture
                                                                source(media='(max-width: 320px)' srcset='img/photos/TestimonialPortraits-ChrisRonzio.png?h=65&w=65, img/photos/TestimonialPortraits-ChrisRonzio.png?h=130&w=130 2x')
                                                                source(media='(max-width: 375px)' srcset='img/photos/TestimonialPortraits-ChrisRonzio.png?h=65&w=65, img/photos/TestimonialPortraits-ChrisRonzio.png?h=130&w=130 2x')
                                                                source(media='(max-width: 414px)' srcset='img/photos/TestimonialPortraits-ChrisRonzio.png?h=65&w=65, img/photos/TestimonialPortraits-ChrisRonzio.png?h=130&w=130 2x')
                                                                source(media='(max-width: 800px)' srcset='img/photos/TestimonialPortraits-ChrisRonzio.png?h=65&w=65, img/photos/TestimonialPortraits-ChrisRonzio.png?h=130&w=130 2x')
                                                                source(media='(max-width: 1440px)' srcset='img/photos/TestimonialPortraits-ChrisRonzio.png?h=86&w=86, img/photos/TestimonialPortraits-ChrisRonzio.png?h=172&w=172 2x')
                                                                source(media='(max-width: 1920px)' srcset='img/photos/TestimonialPortraits-ChrisRonzio.png?h=86&w=86, img/photos/TestimonialPortraits-ChrisRonzio.png?h=172&w=172 2x')
                                                                img.Image__StyledImage-houvwv-0.ccBzWZ(src='img/photos/TestimonialPortraits-ChrisRonzio.png?h=86&w=86' srcset='img/photos/TestimonialPortraits-ChrisRonzio.png?h=86&w=86, img/photos/TestimonialPortraits-ChrisRonzio.png?h=172&w=172 2x')
                                                            span
                                                                span.WidgetTestimonial__AuthorName-sc-1azib5e-6.fArRMK Chris Ronzio
                                                                span.WidgetTestimonial__AuthorTitle-sc-1azib5e-7.fTwaMC CEO, Trainual
                            .swiper-slide
                                .SectionGrid-sc-1deimss-2.esgbWf
                                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                                            .-large.WidgetTestimonial__TestimonialContainer-sc-1azib5e-0.jWvKBp
                                                .WidgetTestimonial__TestimonialInner-sc-1azib5e-1.fKSQuv
                                                    .WidgetTestimonial__Quote-sc-1azib5e-2.kxSWIt
                                                        span.WidgetTestimonial__OpenQuote-sc-1azib5e-3.dEwJdE &lsquo;&lsquo; It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                                    .WidgetTestimonial__AuthorWrap-sc-1azib5e-4.kLGuxg
                                                        .WidgetTestimonial__AuthorImage-sc-1azib5e-5.illqxd
                                                            picture
                                                                source(media='(max-width: 320px)' srcset='img/photos/TestimonialPortraits-HeatherSholl.png?h=65&w=65, img/photos/TestimonialPortraits-HeatherSholl.png?h=130&w=130 2x')
                                                                source(media='(max-width: 375px)' srcset='img/photos/TestimonialPortraits-HeatherSholl.png?h=65&w=65, img/photos/TestimonialPortraits-HeatherSholl.png?h=130&w=130 2x')
                                                                source(media='(max-width: 414px)' srcset='img/photos/TestimonialPortraits-HeatherSholl.png?h=65&w=65, img/photos/TestimonialPortraits-HeatherSholl.png?h=130&w=130 2x')
                                                                source(media='(max-width: 800px)' srcset='img/photos/TestimonialPortraits-HeatherSholl.png?h=65&w=65, img/photos/TestimonialPortraits-HeatherSholl.png?h=130&w=130 2x')
                                                                source(media='(max-width: 1440px)' srcset='img/photos/TestimonialPortraits-HeatherSholl.png?h=86&w=86, img/photos/TestimonialPortraits-HeatherSholl.png?h=172&w=172 2x')
                                                                source(media='(max-width: 1920px)' srcset='img/photos/TestimonialPortraits-HeatherSholl.png?h=86&w=86, img/photos/TestimonialPortraits-HeatherSholl.png?h=172&w=172 2x')
                                                                img.Image__StyledImage-houvwv-0.ccBzWZ(src='img/photos/TestimonialPortraits-HeatherSholl.png?h=86&w=86' srcset='img/photos/TestimonialPortraits-HeatherSholl.png?h=86&w=86, img/photos/TestimonialPortraits-HeatherSholl.png?h=172&w=172 2x')
                                                            span
                                                                span.WidgetTestimonial__AuthorName-sc-1azib5e-6.fArRMK Heather Sholl
                                                                span.WidgetTestimonial__AuthorTitle-sc-1azib5e-7.fTwaMC Owner, The Villages Gym
                            .swiper-slide
                                .SectionGrid-sc-1deimss-2.esgbWf
                                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                                            .-large.WidgetTestimonial__TestimonialContainer-sc-1azib5e-0.jWvKBp
                                                .WidgetTestimonial__TestimonialInner-sc-1azib5e-1.fKSQuv
                                                    .WidgetTestimonial__Quote-sc-1azib5e-2.kxSWIt
                                                        span.WidgetTestimonial__OpenQuote-sc-1azib5e-3.dEwJdE &lsquo;&lsquo; It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                                    .WidgetTestimonial__AuthorWrap-sc-1azib5e-4.kLGuxg
                                                        .WidgetTestimonial__AuthorImage-sc-1azib5e-5.illqxd
                                                            picture
                                                                source(media='(max-width: 320px)' srcset='img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=65&w=65, img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=130&w=130 2x')
                                                                source(media='(max-width: 375px)' srcset='img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=65&w=65, img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=130&w=130 2x')
                                                                source(media='(max-width: 414px)' srcset='img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=65&w=65, img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=130&w=130 2x')
                                                                source(media='(max-width: 800px)' srcset='img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=65&w=65, img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=130&w=130 2x')
                                                                source(media='(max-width: 1440px)' srcset='img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=86&w=86, img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=172&w=172 2x')
                                                                source(media='(max-width: 1920px)' srcset='img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=86&w=86, img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=172&w=172 2x')
                                                                img.Image__StyledImage-houvwv-0.ccBzWZ(src='img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=86&w=86' srcset='img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=86&w=86, img/photos/TestimonialPortraits-PatrickMcKenzie.png?h=172&w=172 2x')
                                                            span
                                                                span.WidgetTestimonial__AuthorName-sc-1azib5e-6.fArRMK Patrick McKenzie
                                                                span.WidgetTestimonial__AuthorTitle-sc-1azib5e-7.fTwaMC Owner, Kalzumeus Software
                            .swiper-slide
                                .SectionGrid-sc-1deimss-2.esgbWf
                                    .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                                        .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                                            .-large.WidgetTestimonial__TestimonialContainer-sc-1azib5e-0.jWvKBp
                                                .WidgetTestimonial__TestimonialInner-sc-1azib5e-1.fKSQuv
                                                    .WidgetTestimonial__Quote-sc-1azib5e-2.kxSWIt
                                                        span.WidgetTestimonial__OpenQuote-sc-1azib5e-3.dEwJdE &lsquo;&lsquo; It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                                    .WidgetTestimonial__AuthorWrap-sc-1azib5e-4.kLGuxg
                                                        .WidgetTestimonial__AuthorImage-sc-1azib5e-5.illqxd
                                                            picture
                                                                source(media='(max-width: 320px)' srcset='img/photos/TestimonialPortraits-JonSmejkal.png?h=65&w=65, img/photos/TestimonialPortraits-JonSmejkal.png?h=130&w=130 2x')
                                                                source(media='(max-width: 375px)' srcset='img/photos/TestimonialPortraits-JonSmejkal.png?h=65&w=65, img/photos/TestimonialPortraits-JonSmejkal.png?h=130&w=130 2x')
                                                                source(media='(max-width: 414px)' srcset='img/photos/TestimonialPortraits-JonSmejkal.png?h=65&w=65, img/photos/TestimonialPortraits-JonSmejkal.png?h=130&w=130 2x')
                                                                source(media='(max-width: 800px)' srcset='img/photos/TestimonialPortraits-JonSmejkal.png?h=65&w=65, img/photos/TestimonialPortraits-JonSmejkal.png?h=130&w=130 2x')
                                                                source(media='(max-width: 1440px)' srcset='img/photos/TestimonialPortraits-JonSmejkal.png?h=86&w=86, img/photos/TestimonialPortraits-JonSmejkal.png?h=172&w=172 2x')
                                                                source(media='(max-width: 1920px)' srcset='img/photos/TestimonialPortraits-JonSmejkal.png?h=86&w=86, img/photos/TestimonialPortraits-JonSmejkal.png?h=172&w=172 2x')
                                                                img.Image__StyledImage-houvwv-0.ccBzWZ(src='img/photos/TestimonialPortraits-JonSmejkal.png?h=86&w=86' srcset='img/photos/TestimonialPortraits-JonSmejkal.png?h=86&w=86, img/photos/TestimonialPortraits-JonSmejkal.png?h=172&w=172 2x')
                                                            span
                                                                span.WidgetTestimonial__AuthorName-sc-1azib5e-6.fArRMK Jon Smejkal
                                                                span.WidgetTestimonial__AuthorTitle-sc-1azib5e-7.fTwaMC Owner, OCD Tronic
                        
                        //- If we need pagination
                        .swiper-pagination
                        //- If we need navigation buttons
                        .swiper-button-prev.emnAZB(direction='previous')
                        svg(viewbox='0 0 29 44' xmlns='http://www.w3.org/2000/svg')
                            polyline.a(points='18.97 35.56 7.12 22.3 19 9')
                        .swiper-button-next.htqihG(direction='next')
                        svg(viewbox='0 0 29 44' xmlns='http://www.w3.org/2000/svg')
                            polyline.a(points='18.97 35.56 7.12 22.3 19 9')