//- Desktop version
.ResponsiveHidden__HideOnMobile-sc-1fxs8vj-1.iUgALo
    section.SectionContainer__StyledSection-nrgtje-1.ehfctK
        .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.PPJPn(style='background-image: url(img/new-images/02.png);')
            .GridContainer-sc-15zswxm-0.fnLMAL
                .GridRow-sc-4xpp2g-0.hiaijr
                    .GridColumn-sc-1eg69m4-0.oDiHO
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                            .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.gkZNqH
                                section
                                    header.WidgetValueProp__ValuePropHeader-sc-902n5r-0.icVtif
                                        h3 Productivity made personal. Unparalleled insights
                                    main.WidgetValueProp__ValuePropBody-sc-902n5r-1.drghRR(font-size='16' font-weight='500')
                                        div
                                        p
                                            | We help employees unlock their true potential, changing now
                                            | only how they view productivity, but themselves. We help
                                            | every employee to do better and be better.
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                            .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.fohDeA
                                .WidgetCallToAction__CallToActionContainer-sc-1702ic2-0.iffiZD
                                    a.LinkButton-sc-1g4pgdd-0.oogmL(href='#')
                                        | Learn More About
                                        | Stroofy

//- Mobile version
.ResponsiveHidden__HideOnMobile-sc-1fxs8vj-1.iUgALo
    section.SectionContainer__StyledSection-nrgtje-1.ehfctK
        .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.ccwlxp
            .GridContainer-sc-15zswxm-0.fnLMAL
                .GridRow-sc-4xpp2g-0.hCTAqm
                    .GridColumn-sc-1eg69m4-0.hFjCkS
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                            .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.fohDeA
                                .WidgetImageSlideshow__Slide-sc-15b9ql9-0.lmXCVA
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.iomeFO
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                    .GridColumn-sc-1eg69m4-0.hFjCkS
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                            .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.fohDeA
                                .WidgetImageSlideshow__Slide-sc-15b9ql9-0.lmXCVA
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.iomeFO
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                    .GridColumn-sc-1eg69m4-0.hFjCkS
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                            .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.fohDeA
                                .WidgetImageSlideshow__Slide-sc-15b9ql9-0.lmXCVA
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.iomeFO
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                    .GridColumn-sc-1eg69m4-0.hFjCkS
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                            .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.fohDeA
                                .WidgetImageSlideshow__Slide-sc-15b9ql9-0.lmXCVA
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.iomeFO
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')

//- Mobile version 2
.ResponsiveHidden__HideOnDesktop-sc-1fxs8vj-0.chukSU
    section.SectionContainer__StyledSection-nrgtje-1.ehfctK
        .SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.ddjeAA
            .GridContainer-sc-15zswxm-0.fnLMAL
                .GridRow-sc-4xpp2g-0.hCTAqm
                    .GridColumn-sc-1eg69m4-0.cLsfeM
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                            .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.fohDeA
                                .WidgetImageSlideshow__Slide-sc-15b9ql9-0.lmXCVA
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.iomeFO
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                    .GridColumn-sc-1eg69m4-0.cLsfeM
                        .SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
                            .SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.fohDeA
                                .WidgetImageSlideshow__Slide-sc-15b9ql9-0.lmXCVA
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.iomeFO
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')
                                    .WidgetImageSlideshow__SlideImage-sc-15b9ql9-1.kFssHp
                                        picture
                                            source(media='(max-width: 320px)')
                                            source(media='(max-width: 375px)')
                                            source(media='(max-width: 414px)')
                                            source(media='(max-width: 800px)')
                                            source(media='(max-width: 1440px)')
                                            source(media='(max-width: 1920px)')
                                            img.Image__StyledImage-houvwv-0.kISGAE(alt='Headshot of Bench employee')