nav.NavContainer-sc-1hny48c-0.kuBnqT
  //- Mobile hamburger
  .NavHamburger__HamburgerContainer-sc-10wxs0a-0.hsDlzl
    button.hamburger.hamburger--squeeze(type='button')
      span.hamburger-box
        span.hamburger-inner
  .GridRow-sc-4xpp2g-0.gorDGi
    //- Left menu
    .GridColumn-sc-1eg69m4-0.oDiHO
      .NavSection-ukplw-0.iveURn
        .NavLink__NavLinkContainer-slfaqa-0.chtCjF
          a(href='how-it-works.html')
            | How it
            | Works
        .NavLink__NavLinkContainer-slfaqa-0.chtCjF
          a(href='#') Features
        .NavLink__NavLinkContainer-slfaqa-0.chtCjF
          a(href='#') Pricing
        .NavLink__NavLinkContainer-slfaqa-0.chtCjF
          a(href='#') Blog
    //- Main logo
    .GridColumn-sc-1eg69m4-0.cKGMRl
      .NavSection-ukplw-0.hBVlHr
        a(href='/')
          img(src='img/logo.jpg' alt='Stroofy logo' width='130')
    //- Right menu
    .GridColumn-sc-1eg69m4-0.oDiHO
      .NavSection-ukplw-0.bQjwka
        .NavLink__NavLinkContainer-slfaqa-0.JBhJW
          a(href='#') Log In
        .NavLink__NavLinkContainer-slfaqa-0.dBCfoV
          a(href='#') Start a Free Trial
