extends ../layout/default 

block variables
	- var title = 'Home page'
	- var pageClass = 'index-page'  

block content
	//- Hero section
	include ../sections/index/hero

	//- About section
	include ../sections/index/about

	//- Separator section
	section.SectionContainer__StyledSection-nrgtje-1.bAuXbh
		.SectionContainer__SectionSpacer-nrgtje-0.hWFzSV.Spacer-sc-1scsk4-0.ccwlxp
			.GridContainer-sc-15zswxm-0.fnLMAL
				.GridRow-sc-4xpp2g-0.hiaijr
					.GridColumn-sc-1eg69m4-0.bPOobo
						.SectionGrid__WidgetStack-sc-1deimss-1.eOXUCd
							.SectionGrid__WidgetSpacer-sc-1deimss-0.dMxHal.Spacer-sc-1scsk4-0.fohDeA
							hr.HR-sc-80rc3k-0.kUardU(color='#2F3034')

	//- Partners section
	include ../sections/index/partners

	//- Team section
	include ../sections/index/team

	//- Benefit sections
	include ../sections/index/benefit

	//- Slider section
	include ../sections/index/slider

	//- Features section
	include ../sections/index/features

	//- Form section
	include ../sections/index/features
	