@font-face {
    font-family: LLCircularWeb;
    src: url("../fonts/lineto-circular-bold-s.subset.woff2") format("woff2"),
        url("../fonts/lineto-circular-bold-s.subset.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: LLCircularWeb;
    src: url("../fonts/lineto-circular-book-s.subset.woff2") format("woff2"),
        url("../fonts/lineto-circular-book-s.subset.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: LLCircularWeb;
    src: url("../fonts/lineto-circular-medium-s.woff2") format("woff2"),
        url("../fonts/lineto-circular-medium-s.woff") format("woff");
    font-display: swap;
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: LeituraDisplay;
    src: url("../fonts/LeituraDisplay-Roman.subset.woff2") format("woff2"),
        url("../fonts/LeituraDisplay-Roman.subset.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}